*
{
padding: 0;
margin: 0;
}

body
{
background-color: rgb(234, 225, 225);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

.container
{
    background-color: rgb(171, 166, 161);
    border-radius: 20px;
    border: solid black;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
}

.mensage
{
    font-size: 1.2em;
    padding: 1em;
}

.contador
{
    font-size: 1em;
    padding: 1em;
}

.contador button
{
    width: 60px;
    height: 25px;
    border: solid 1px black;
    border-radius: 20px;
    cursor: pointer;
    
}

.pANDb
{
    padding: 10px;
}